/* General page styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #5c6bc0;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

td {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}

tr:nth-child(even) td {
    background-color: #f3f3f3;
}
  
/* Form elements styling */
input {
    width: 70%; 
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #dee7e4;
    color: rgb(17, 17, 17);
    border: none;

}

button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
  
/* Image styling */
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;    
}

/* h1 header styling */
h1 {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

/* div tag styling 
div {
    padding: 6px;
    text-align: center;
    background: #262727;
    color: white;
    font-size: 15px;
} */

form {
  display: inline-block;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  width: 50%;
}
  
  